{{extend '../_layouts/home.html'}}

{{block 'title'}}{{'多人博客 - 首页'}}{{/block}}

{{block 'head'}}
<link rel="stylesheet" href="/public/css/markdown-github.css">
<style>
  .panel .panel-heading .action i {
    margin-right: 10px;
  }
</style>
{{/block}}

{{block 'body'}}

<section class="container">
  <div class="row">
    <div class="col-md-9">
      <ul class="breadcrumb">
        <li><a href="/">首页</a></li>
        <li>{{topic.title}}</li>
    </ul>
      <div class="page-header" style="padding: 0 0 ;">
        <h1 style="font-size: 30px;">{{topic.title}}</h1>
        <span>发布时间：{{ topic.add_time | getDate }}&nbsp;&nbsp;&nbsp;</span><span>作者：{{topic.user_name}}</span>
      </div>
      <!-- 能容主题部分 -->
      <div>
        <%-md.render(topic.content)%>
      </div>
      <hr>
      <!-- 评论回复区域 -->
      <div class="container">
        
      </div>
      <h1 style="font-size: 20px;">评论回复</h1>
      
      <span style="padding: 10px;">回复数：{{allCount}}条</span>
      <!-- 回复列表 -->
      {{each allReplies}}
      <div class="panel panel-default">
        <div class="panel-heading">
          <span><strong>{{$value.user_name}}的评论</strong></span>&nbsp;&nbsp;&nbsp;
          <span>{{$value.add_time | getDate}}</span>
          <span class="action">
            <a href=""><i class="glyphicon glyphicon-thumbs-up pull-right"></i></a>
            <a href=""><i class="glyphicon glyphicon-remove-circle pull-right"></i></a>
            <a href=""><i class="glyphicon glyphicon-remove-circle pull-right"></i></a>
          </span>
        </div>
        <div class="panel-body">
          {{$value.comments}}
        </div>
      </div>
      {{/each}}
      <!-- 回复列表 end -->
      <hr>
      <form id="comments_form">
        <div class="alert alert-success" role="alert">
          <strong>发表成功!</strong>
        </div>
        <div class="alert alert-danger" role="alert">
          <strong>回复内容不能为空，发表失败!</strong>
        </div>
        <div class="form-group">
          <label for="comments_show">添加回复</label>
          <textarea class="form-control" name="comments" id="comments_show" cols="10" rows="10"></textarea>
        </div>
        <button type="submit" class="btn btn-success" onclick="checkSubmit()">回复</button>
      </form>
    </div>
  </div>
  <script src="/node_modules/moment/moment.js"></script>
  <script src="/node_modules/jquery/dist/jquery.js"></script>
  <!-- 表单验证 -->
  <script>
    $('.alert-success').hide()
    $('.alert-danger').hide()
    $('.tip').hide()
    // 验证内容
    function checkContent() {
      let content = $('#comments_show')
      if (content.val() == '')
        $('.tip1').show()
    }

    function checkSubmit() {
      let content = $('#comments_show')
      if (content.val() == '') {
        $('.alert-success').hide()
        $('.alert-danger').show()
      } else {
        $('.alert-danger').hide()
        $('.alert-success').show()
      }
    }

    // 验证成功，发送请求
    $('#comments_form').on('submit', function (e) {
      let content = $('#comments_show')
      if (content.val() == '') {
        $('.alert-danger').show()
        return false
      }
      e.preventDefault()
      var formData = $(this).serialize()
      // console.log(formData)
      $.ajax({
        url: '/topics/{{@topic._id}}',
        type: 'post',
        data: formData,
        dataType: 'json',
        success: function (data) {
          console.log(data);
          var err_code = data.err_code
          if (err_code === 0) {
            console.log(1);
            // $('.alert-success').hide()
            // 服务端重定向针对异步请求无效
            content.val("")
            window.location.href = '/topics/{{@topic._id}}'
          } else if (err_code === 1) {
            // $('.alert-danger').hide()
          } else if (err_code === 500) {
            window.alert('服务器忙，请稍后重试！')
          }
        }
      })
    })


  </script>
</section>
{{/block}}